* {
  margin: 0;
  box-sizing: border-box;
  cursor: crosshair;
}

@font-face {
  font-family: n27;
  src: url(FontType/N27-Bold.otf);
}

@font-face {
  font-family: n27Light;
  src: url(FontType/N27-Light.otf);
}

@font-face {
  font-family: n27ExtraLight;
  src: url(FontType/N27-ExtraLight.otf);
}

html {
  background-color: #fff8f8;
}

.nav-link {
  text-decoration: none;
  color: rgb(85, 85, 85);
}

.title {
  padding-top: 10rem;
  padding-bottom: 30rem;
  color: rgb(17, 46, 0);
}

.title-container {
  display: flex;
  font-family: "n27Light";
}

.version {
  padding-top: 41px;
  padding-left: 10.9rem;

  writing-mode: vertical-rl;
  text-orientation: sideways;
  letter-spacing: 4px;

  text-decoration: 2.5px underline;
  text-underline-offset: 5px;
}

.dots {
  padding-top: 10px;
  padding-bottom: 30px;
  height: 100%;
  width: 100%;
  background-image: radial-gradient(#c5cac68f 1px, transparent 1px);
  background-size: 15px 15px;
}

.main-description {
  padding-top: 3rem;
}

.description {
  width: 60%;
  border-top: 5px solid rgb(17, 46, 0);
  padding-top: 22px;
  font-size: 15px;
}

.description-2 {
  padding-top: 4px;
  width: 40%;
  color: rgb(58, 58, 58);
  text-align: justify;
}

.footer-description {
  color: white;
}

.resources {
  padding-top: 5rem;
  padding-bottom: 8rem;
}

.resource-links {
  font-family: n27ExtraLight;
  text-decoration: none;
  color: rgb(105, 105, 105);
  transition: 0.3s;
}

.resource-links:hover {
  color: red;
  text-decoration: underline;
  cursor: pointer;
}

h1 {
  font-size: 50px;
  font-family: "New Amsterdam", sans-serif;
  letter-spacing: 5px;
  margin-bottom: 0;
  color: rgb(17, 46, 0);
}

h2 {
  margin-bottom: 6px;
  margin-top: 20px;
  letter-spacing: 1px;
  font-family: "n27";
}

h3 {
  text-transform: uppercase;
  margin-bottom: 0.3rem;
  margin-top: 2rem;
  letter-spacing: 1px;
  font-family: "n27";
}

p {
  margin-top: 1px;
  margin-bottom: 20px;
  font-family: "n27ExtraLight";
}

.footer {
  background: black;
}

.main-footer {
  font-family: "n27ExtraLight";
  padding: 50px;
  background: black;
  color: white;
  column-gap: 5em;
  display: flex;
  justify-content: center;
}

.main-footer div h2 {
  padding-bottom: 1rem;
}

.footer-col-1 {
  width: 30rem;
}

.footer-col-2 a {
  display: block;
}

.footer-base {
  padding-top: 1rem;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 12px;
  column-gap: 5rem;
}

.backToTop {
  padding-right: 5rem;
  padding-bottom: 4rem;
  color: white;
  text-decoration: none;
  font-family: "n27ExtraLight";
  justify-content: right;
  text-align: right;
  display: flex;
  transition: 0.6s;
}

.backToTop:hover {
  font-weight: bolder;
  padding-right: 5.5rem;
}

.contact-container {
  display: flex;
  align-items: left;
  justify-content: space-evenly;
}

.contact-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.contact-inputs {
  font-family: "n27ExtraLight";
  width: 400px;

  cursor: pointer;
  border: none;

  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0.5rem;
  border-radius: 6px;
  padding-left: 10px;

  letter-spacing: 1.5px;
  font-size: 12px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
}

.contact-inputs:focus {
  border: 3px solid white;
}

textarea {
  resize: none;
  padding: 0;
}

.contact-left button {
  font-family: "n27";
  text-align: center;
  justify-content: center;
  cursor: pointer;
  border: none;

  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0.5rem;
  border-radius: 6px;
  padding-left: 10px;
  padding-right: 10px;

  letter-spacing: 1.5px;
  font-size: 12px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
}

/* Text Styling */

.underline {
  text-decoration: 5px underline;
  text-underline-offset: 10px;
}

.underline-2 {
  text-decoration: 5px underline !important;
  text-underline-offset: 7px;
  padding-bottom: 10px;
}

.underline-3 {
  text-decoration: 2.5px underline !important;
  text-underline-offset: 7px;
  padding-bottom: 5px;
}

.nav-link-btn {
  border: none;
  border-bottom: 3.5px solid rgb(17, 46, 0);
  color: #9c9c9c;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 7rem;
  background-color: none;

  justify-content: right;
  text-align: right;

  margin-bottom: 10px;
}

.nav-link-btn:hover {
  color: rgb(255, 255, 255);
  background-color: black;
  transition: 0.5s;
}

.upArrow {
  border-bottom: 2px solid #373737;
  padding-bottom: 2px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.upArrow:hover {
  font-weight: bolder;
}

.upArrow::after {
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="20" viewBox="2 -3 15 24 "><path d="m3.293 11.293 1.414 1.414L11 6.414V20h2V6.414l6.293 6.293 1.414-1.414L12 2.586l-8.707 8.707z"/></svg>');
}

.page-link {
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: 0.2s;
  margin-bottom: 0.5rem;
}

.page-link:hover {
  letter-spacing: 1px;
}

#Rof-list {
  color: rgb(58, 58, 58);
  font-weight: normal;
  line-height: 28px;
  padding-left: 0rem;
  font-family: "n27ExtraLight";
  width: 75%;
}

#Rof-list ul {
  margin-top: 1px;
  margin-bottom: 1px;
}

#Rof-list li {
  margin-top: 1px;
  margin-bottom: 1px;
}

#Rof-list-2 {
  color: rgb(49, 49, 49);
  font-weight: normal;
  line-height: 28px;
  padding-left: 0.5rem;
  font-family: "n27ExtraLight";
  width: 75%;
}

#Rof-list-2 li {
  color: rgb(105, 105, 105);
}

li {
  font-weight: bolder;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
}

button.expand-all {
  font-family: "n27ExtraLight";

  cursor: pointer;
  border: 1px solid rgb(180, 180, 180);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0.5rem;
  border-radius: 6px;

  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 12px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  background-color: #fff8f8;

  box-shadow: -2px 5px 6px rgba(0, 0, 0, 0.027);
}

button.expand-all:hover {
  cursor: pointer;
  color: white;
  background-color: black;
  transition: 0.5s;
}

button.add-content {
  cursor: pointer;
  padding: 10px;
  font-weight: 600;
  letter-spacing: 2px;
  border: 0.5px solid;
  border-radius: 5px;

  background-color: rgba(214, 214, 214, 0.274);
}

button.add-content:hover {
  padding: 10px;
  font-weight: 600;
  letter-spacing: 2px;
  border: 0.5px solid;
  border-radius: 5px;
  color: white;
  background-color: black;
}

button.system-type {
  cursor: pointer;
  border: 1px solid rgb(180, 180, 180);

  width: 100%;
  text-align: left;
  background-color: #fff8f8;
  color: black;
  padding: 15px;

  font-weight: bold;
  transition: 0.3s;
  border-radius: 8px;
  font-size: 14px;

  margin-top: 10px;

  box-shadow: -2px 5px 6px rgba(0, 0, 0, 0.027);
}

button.system-type:hover {
  background-color: black;
  color: white;
  transition: 0.5s;
  padding-left: 30px;

  box-shadow: -4px 5px 10px rgba(0, 0, 0, 0.192);
}

button.system-type.active {
  border: 0.5px solid;
  border-color: rgb(165, 165, 165);
}

button.expand.active {
  border: 0.5px solid;
  border-color: rgb(3, 3, 3);
}

div.rules-of-thumb {
  opacity: 0;
  max-height: 10px;
  overflow: hidden;
  transition: 0.7s;
  padding-left: 1rem;
}

div.rules-of-thumb.show {
  opacity: 1;
  max-height: 1000px;
  border: 0.5px solid;
  border-color: rgb(165, 165, 165);
  border-radius: 8px;
  margin-top: 8px;
  margin-bottom: 30px;
}

div.expand {
  opacity: 0;
  max-height: 10px;
  overflow: hidden;
  transition: 0.7s;
}

button.expand:hover {
  background-color: black;
  color: white;
}

div.expand.show {
  opacity: 1;
  max-height: 500px;
  border: 0.5px solid;
  border-color: rgb(165, 165, 165);
  border-radius: 8px;
  margin-top: 8px;
  margin-bottom: 30px;
}

.linkButton {
  display: inline-block;
  font-size: 14px;
  line-height: 15px;
  color: black;

  padding-bottom: 0px;
  text-decoration: none;
  transition: 0.2s;
  font-family: n27;
}

.bold {
  display: inline-block;
  font-size: 14px;
  line-height: 15px;
  color: black;

  padding-bottom: 0px;
  text-decoration: none;
  transition: 0.2s;
  font-family: n27;
  letter-spacing: 0.5px;
}

.linkButton:hover {
  font-weight: bolder;
  letter-spacing: 1px;
}

.linkButton::after {
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="-2 -8 35 24"><path d="M11.293 4.707 17.586 11H4v2h13.586l-6.293 6.293 1.414 1.414L21.414 12l-8.707-8.707-1.414 1.414z"/></svg>');
  font-size: 12px;
}

@media (min-width: 340px) {
  header {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  ul {
    padding-left: 0;
    padding-right: 0;
  }

  li {
    width: 100%;
  }

  button.system-type:hover {
    border-color: rgb(165, 165, 165);
  }

  ul li {
    list-style-position: inside;
    width: 100%;
    padding: 0;
  }

  .title {
    padding-top: 5rem;
    padding-bottom: 20rem;
  }

  .title-container {
    word-break: break-all;
  }

  main {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .resource-links {
    word-break: break-all;
  }

  h1 {
    font-size: 78px;
    margin-bottom: 0;
    padding-top: 0rem;
    color: rgb(17, 46, 0);
    word-wrap: break-word;
  }

  .description {
    width: 100%;
  }

  .description-2 {
    width: 100%;
    hyphens: auto;
  }

  .rules-of-thumb {
    width: 100%;
    padding-left: 0rem;
  }

  #Rof-list {
    hyphens: auto;
    width: 100%;
    padding-left: 0;
    padding-right: 1rem;
  }

  #Rof-list-2 {
    color: rgb(131, 131, 131);
    font-weight: normal;
    line-height: 28px;
    padding-left: 0rem;
    font-family: "n27ExtraLight";
    width: 100%;
  }

  .footer {
    background: black;
  }

  .main-footer {
    padding: 50px;
    background: black;
    color: white;
    column-gap: 1em;
    display: grid;
    justify-content: center;
  }

  .footer-col-1 {
    width: 19rem;
  }

  .nav {
    justify-content: right;
    display: grid;
    column-gap: 2rem;
    font-family: "n27ExtraLight";
    text-decoration: none;
    color: black;
    border: none;

    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
  }

  .nav-link {
    padding-top: 7px;
    padding-bottom: 7px;
    text-decoration: none;
    color: rgb(163, 163, 163);
    transition: 0.5s;
  }

  .nav-link:hover {
    color: rgb(255, 255, 255);
  }

  .nav-link-btn {
    border: none;
    border-bottom: 3.5px solid rgb(17, 46, 0);
    color: #9c9c9c;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 4rem;
    background-color: #fff8f8;
    justify-content: right;
    text-align: right;

    margin-bottom: 10px;
  }

  .nav-link-btn:hover {
    color: rgb(255, 255, 255);
    background-color: black;
    transition: 0.5s;
  }

  .underline-2 {
    text-decoration: 5px underline;
    text-underline-offset: 7px;
    padding-bottom: 10px;
    line-height: 2.5rem;
  }

  .contact-inputs {
    font-family: "n27ExtraLight";
    width: 300px;

    cursor: pointer;
    border: none;

    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0.5rem;
    border-radius: 6px;
    padding-left: 10px;

    letter-spacing: 1.5px;
    font-size: 12px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
  }
}

@media (min-width: 400px) {
  header {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  main {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .description {
    width: 100%;
  }

  .description-2 {
    width: 100%;
  }

  .description-3 {
    width: 25rem;
  }

  .main-description {
    padding-top: 4rem;
    padding-left: 0rem;
  }

  .Rof-list {
    width: 100%;
  }
}

@media (min-width: 601px) {
  header {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  main {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .Rof-list {
    width: 100%;
  }

  .description {
    width: 100%;
  }
}

@media (min-width: 680px) {
  header {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  main {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .description {
    width: 100%;
  }
}

@media (min-width: 768px) {
  header {
    padding-left: 7rem;
    padding-right: 7rem;
  }

  h1 {
    font-size: 150px;
  }

  main {
    padding-left: 7rem;
    padding-right: 7rem;
  }

  .description {
    width: 75%;
  }

  .main-footer {
    padding: 50px;
    background: black;
    color: white;
    column-gap: 5em;
    display: flex;
    justify-content: center;
  }

  .footer-col-1 {
    width: 25rem;
  }

  .nav-link-btn {
    border: none;
    border-bottom: 3.5px solid rgb(17, 46, 0);
    color: #9c9c9c;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7rem;
    background-color: #fff8f8;
    justify-content: right;
    text-align: right;

    margin-bottom: 10px;
  }

  .nav-link-btn:hover {
    color: rgb(255, 255, 255);
    background-color: black;
    transition: 0.5s;
  }
}

@media (min-width: 1024px) {
  .title-container {
    width: 75%;
  }

  header {
    padding-left: 8rem;
    padding-right: 8rem;
  }

  main {
    padding-left: 8rem;
    padding-right: 8rem;
  }

  .description-2 {
    width: 40%;
  }
}

@media (min-width: 1368px) {
  .title-container {
    width: 50%;
    padding-top: 0rem;
  }

  header {
    padding-left: 8rem;
    padding-right: 8rem;
  }

  main {
    padding-left: 8rem;
    padding-right: 8rem;
  }

  .description-2 {
    width: 40%;
  }
}

@media (min-width: 1400px) {
  header {
    padding-top: 2rem;
    padding-left: 20rem;
    padding-right: 20rem;
  }

  .title-container {
    width: 100%;
  }

  h1 {
    font-size: 180px;
  }

  main {
    padding-left: 20rem;
    padding-right: 20rem;
  }

  .description {
    width: 40.5%;
    line-height: 28px;
    text-align: justify;
  }

  .description-2 {
    width: 40%;
  }

  .main-footer {
    padding: 25px;

    background: black;
    color: white;
    column-gap: 5em;
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 2000px) {
  header {
    padding-top: 2rem;
    padding-left: 35rem;
    padding-right: 35rem;
  }

  main {
    padding-left: 35rem;
    padding-right: 35rem;
  }
}

@media (min-width: 3000px) {
  header {
    padding-top: 2rem;
    padding-left: 50rem;
    padding-right: 50rem;
  }

  main {
    padding-left: 50rem;
    padding-right: 50rem;
  }
}
