* {
  margin: 0;
  box-sizing: border-box;
  cursor: crosshair;
}

@font-face {
  font-family: n27;
  src: url(FontType/N27-Bold.otf);
}

@font-face {
  font-family: n27Light;
  src: url(FontType/N27-Light.otf);
}

@font-face {
  font-family: n27ExtraLight;
  src: url(FontType/N27-ExtraLight.otf);
}

@font-face {
  font-family: n27reg;
  src: url(FontType/N27-Medium.otf);
}

html {
  background-color: #fff8f8;
}

hr.thin {
  border-top: 1px solid rgb(216, 216, 216);
}

.title {
  padding-top: 13rem;
  padding-bottom: 2rem;
  text-align: left;
  justify-content: left;

  color: rgb(17, 46, 0);
}

.title-container {
  display: flex;
  font-family: "n27Light";
}

.main-description {
  padding-top: 3rem;
  padding-bottom: 5rem;
  display: flex;

  column-gap: 5rem;
}

.tmbr {
  line-height: 25px;
  width: 20rem;
}

.tmbr-2 {
  width: 20rem;
}

.tmbr-2 p {
  font-family: n27reg;
}

.tmbr-wiki {
  padding-left: 3rem;
  position: fixed;
  margin-bottom: 0.3rem;
  margin-top: 2rem;
  letter-spacing: 1px;
  font-family: "n27";
}

.hamburger {
  display: none;
}

.nav {
  display: flex;
  text-decoration: none;
  position: fixed;
}

.nav-link2 {
  padding-top: 4rem;

  text-decoration: none;
}

.nav-link2 ul {
  list-style-type: none;
  padding-left: 3rem;
}

.nav-link {
  text-decoration: none;
  transition: 0.5s;
  color: black;
  font-size: 13px;
}

.nav-link:hover {
  letter-spacing: 1px;
  background-color: black;
  color: white;
}

.home-link {
  text-decoration: none;
  color: black;
  transition: 0.3s;
  font-size: 20px;
}

.home-link:hover {
  color: red;
}

.description {
  font-size: 15px;
  color: rgb(131, 131, 131);
  justify-content: right;
  text-align: justify;
}

.resources {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

h1 {
  font-family: "New Amsterdam", sans-serif;
  letter-spacing: 5px;
  margin-bottom: 0;
  color: rgb(17, 46, 0);
}

h2 {
  margin-bottom: 6px;
  margin-top: 20px;
  letter-spacing: 1px;
  font-family: "n27";
}

h3 {
  text-transform: uppercase;
  margin-bottom: 0.3rem;
  margin-top: 2rem;
  letter-spacing: 1px;
  font-family: "n27reg";
}

p {
  margin-top: 1px;
  margin-bottom: 20px;
  font-family: "n27ExtraLight";
}

.footer {
  background: black;
}

.main-footer {
  font-family: "n27ExtraLight";
  padding: 50px;
  background: black;
  color: white;
  column-gap: 10em;
  display: flex;
  justify-content: center;
}

.main-footer div h2 {
  padding-bottom: 1rem;
}

.footer-col-1 {
  width: 30rem;
}

.footer-col-2 a {
  display: block;
}

.footer-base {
  padding-top: 1rem;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  font-size: 12px;
  column-gap: 5rem;
}

.backToTop {
  padding-right: 5rem;
  padding-bottom: 4rem;
  color: white;
  text-decoration: none;
  font-family: "n27ExtraLight";
  justify-content: right;
  text-align: right;
  display: flex;
  transition: 0.6s;
}

.backToTop:hover {
  font-weight: bolder;
  padding-right: 5.5rem;
}

.underline {
  text-decoration: 5px underline;
  text-underline-offset: 10px;
}

.underline-2 {
  text-decoration: 5px underline;
  text-underline-offset: 7px;
  padding-bottom: 10px;
}

.underline-3 {
  text-decoration: 2.5px underline;
  text-underline-offset: 7px;
  padding-bottom: 5px;
}

.upArrow {
  border-bottom: 2px solid #373737;
  padding-bottom: 2px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.upArrow:hover {
  font-weight: bolder;
}

.upArrow::after {
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="20" viewBox="2 -3 15 24 "><path d="m3.293 11.293 1.414 1.414L11 6.414V20h2V6.414l6.293 6.293 1.414-1.414L12 2.586l-8.707 8.707z"/></svg>');
}

.page-link {
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: 0.2s;
  margin-bottom: 1rem;
}

.page-link:hover {
  letter-spacing: 1px;
}

#Rof-list ul li {
  color: rgb(131, 131, 131);
  font-weight: normal;
  line-height: 28px;
  padding-left: 0.5rem;
  font-family: "n27ExtraLight";
}

li {
  font-family: "n27ExtraLight";

  margin-bottom: 8px;
  font-size: 15px;
  color: rgb(131, 131, 131);
}

button.expand-all {
  font-family: "n27ExtraLight";

  cursor: pointer;
  border: 1px solid rgb(180, 180, 180);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0.5rem;
  border-radius: 6px;

  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 12px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  background-color: #fff8f8;

  box-shadow: -2px 5px 6px rgba(0, 0, 0, 0.027);
}

button.expand-all:hover {
  cursor: pointer;
  color: white;
  background-color: black;
  transition: 0.5s;
}

button.add-content {
  cursor: pointer;
  padding: 10px;
  font-weight: 600;
  letter-spacing: 2px;
  border: 0.5px solid;
  border-radius: 5px;

  background-color: rgba(214, 214, 214, 0.274);
}

button.add-content:hover {
  padding: 10px;
  font-weight: 600;
  letter-spacing: 2px;
  border: 0.5px solid;
  border-radius: 5px;
  color: white;
  background-color: black;
}

button.system-type {
  cursor: pointer;
  border: 1px solid rgb(180, 180, 180);

  width: 100%;
  text-align: left;
  background-color: #fff8f8;
  padding: 15px;

  font-weight: bold;
  transition: 0.3s;
  border-radius: 8px;
  font-size: 14px;

  margin-top: 10px;

  box-shadow: -2px 5px 6px rgba(0, 0, 0, 0.027);
}

button.system-type:hover {
  background-color: black;
  color: white;
  transition: 0.5s;
  padding-left: 30px;

  box-shadow: -4px 5px 10px rgba(0, 0, 0, 0.192);
}

button.system-type.active {
  border: 0.5px solid;
  border-color: rgb(165, 165, 165);
}

button.expand.active {
  border: 0.5px solid;
  border-color: rgb(3, 3, 3);
}

div.rules-of-thumb {
  opacity: 0;
  max-height: 10px;
  overflow: hidden;
  transition: 0.7s;
  padding-left: 1rem;
}

div.rules-of-thumb.show {
  opacity: 1;
  max-height: 500px;
  border: 0.5px solid;
  border-color: rgb(165, 165, 165);
  border-radius: 8px;
  margin-top: 8px;
  margin-bottom: 30px;
}

div.expand {
  opacity: 0;
  max-height: 10px;
  overflow: hidden;
  transition: 0.7s;
}

button.expand:hover {
  background-color: black;
  color: white;
}

div.expand.show {
  opacity: 1;
  max-height: 500px;
  border: 0.5px solid;
  border-color: rgb(165, 165, 165);
  border-radius: 8px;
  margin-top: 8px;
  margin-bottom: 30px;
}

.linkButton {
  display: inline-block;
  font-size: 14px;
  line-height: 15px;
  color: black;

  padding-bottom: 0px;
  text-decoration: none;
  transition: 0.2s;
  font-family: n27;
}

.linkButton:hover {
  font-weight: bolder;
  letter-spacing: 1px;
}

.linkButton::after {
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="-2 -8 35 24"><path d="M11.293 4.707 17.586 11H4v2h13.586l-6.293 6.293 1.414 1.414L21.414 12l-8.707-8.707-1.414 1.414z"/></svg>');
  font-size: 12px;
}

@media (min-width: 340px) {
  header {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  main {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .hamburger {
    display: block;
    position: fixed;
    top: 20px;
    left: 10px;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav {
    left: -100%;
    transition: 0.5s;
  }

  .nav.active {
    left: 0;
    background-color: #fff8f8;
    width: 100%;
    padding-bottom: 1rem;
  }

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
  }

  h1 {
    font-size: 30px;
    margin-bottom: 0;
    padding-top: 0rem;
    color: rgb(17, 46, 0);
    word-wrap: break-word;
    letter-spacing: normal;
  }

  .tmbr {
    line-height: 25px;
    width: 100%;
    hyphens: auto;
  }

  .tmbr-2 {
    width: 100%;
    letter-spacing: normal;
    line-height: normal;
    hyphens: auto;
  }

  .tmbr-2 p {
    font-family: n27reg;
  }

  .Rof-list {
    hyphens: auto;
  }

  .main-description {
    display: grid;
  }

  .description {
    width: 100%;
    hyphens: auto;
  }

  .footer {
    background: black;
  }

  .main-footer {
    padding: 50px;
    background: black;
    color: white;
    column-gap: 1em;
    display: grid;
    justify-content: center;
  }

  .footer-col-1 {
    width: 19rem;
  }
}

@media (min-width: 400px) {
  header {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  main {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .description {
    width: 100%;
  }
  .main-description {
    padding-top: 5rem;
    padding-left: 0rem;
  }
}

@media (min-width: 601px) {
  header {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  main {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .description {
    width: 100%;
  }
}

@media (min-width: 680px) {
  header {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .nav {
    left: 0;
  }

  .hamburger {
    display: none;
  }

  main {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .description {
    width: 100%;
  }
}

@media (min-width: 768px) {
  header {
    padding-left: 7rem;
    padding-right: 7rem;
    padding-top: 1.2rem;
  }

  .hamburger {
    display: block;
    position: fixed;
    top: 20px;
    left: 30px;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .bar {
    display: block;
    width: 50px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
  }

  .nav {
    left: -100%;
    transition: 0.5s;
  }

  .nav.active {
    left: 0;
    background-color: #fff8f8;
    width: 100%;
    padding-bottom: 1rem;
    padding-left: 3rem;
  }

  h1 {
    font-size: 55px;
  }

  main {
    padding-left: 7rem;
    padding-right: 7rem;
  }

  .main-footer {
    padding: 50px;
    background: black;
    color: white;
    column-gap: 5em;
    display: flex;
    justify-content: center;
  }

  .footer-col-1 {
    width: 20rem;
  }
}

@media (min-width: 1024px) {
  .title-container {
    width: 75%;
  }

  header {
    padding-left: 12rem;
    padding-right: 12rem;
  }

  .nav {
    left: 0;
  }

  .hamburger {
    display: none;
  }

  main {
    padding-left: 12rem;
    padding-right: 12rem;
  }
}

@media (min-width: 1368px) {
  .title-container {
    width: 50%;
    padding-top: 0rem;
  }

  .nav {
    left: 0;
  }

  .hamburger {
    display: none;
  }

  header {
    padding-left: 8rem;
    padding-right: 8rem;
  }

  main {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}

@media (min-width: 1400px) {
  header {
    padding-top: 2rem;
    padding-left: 20rem;
    padding-right: 20rem;
  }

  .nav {
    left: 0;
  }

  .hamburger {
    display: none;
  }

  .title-container {
    width: 100%;
  }

  h1 {
    font-size: 40px;
  }

  main {
    padding-left: 20rem;
    padding-right: 20rem;
  }

  .main-description {
    display: flex;
  }

  .description {
    width: 100%;
    line-height: 28px;
    display: fle;
  }

  .main-footer {
    padding: 50px;

    background: black;
    color: white;
    column-gap: 15em;
    display: flex;
    justify-content: center;
  }
}
